@page "/ManageBudgets"

<PageTitle>Manage budgets</PageTitle>

<h3>Manage budgets</h3>

@if(UserBudgets is null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Balance</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var budget in UserBudgets)
            {
                <tr>
                    <td>@budget.Name</td>
                    <td class="@((budget.Balance > 0 ? "text-success" : budget.Balance < 0 ? "text-danger" : "text-secondary"))">@budget.Balance</td>
                    <td>
                        <button class="btn btn-primary" @onclick="(() => Edit(budget.Id))"><i class="oi oi-pencil"></i></button>
                    </td>
                    <td>
                        <button class="btn btn-primary" @onclick="(() => ToDashboard(budget.Id))">See details</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<button class="btn btn-primary" @onclick="Add">Add budget</button>
