@page "/"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication;

@inject NavigationManager Navigation

<PageTitle>Family budget</PageTitle>

<h1>Welcome to the family budget!</h1>

<AuthorizeView>
    <Authorized>
        <a href="authentication/profile">Hello, @context.User.Identity?.Name!</a>
    </Authorized>
    <NotAuthorized>
        <RadzenButton Click=@(args => BeginLogIn()) Text="Login" ButtonStyle="ButtonStyle.Primary" />
        <RadzenButton Click=@(args => BeginRegister()) Text="Register" ButtonStyle="ButtonStyle.Secondary" />
    </NotAuthorized>
</AuthorizeView>

@code{
    private void BeginLogIn()
    {
        Navigation.NavigateTo("authentication/login");
    }

    private void BeginRegister()
    {
        Navigation.NavigateToLogin("authentication/register");
    }

    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}